html {
  overflow: hidden;
  background-color: papayawhip;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 4rem);
  grid-gap: 1rem;
}

button {
  grid-column: 1 / -1;
}
