#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(4, 3rem);
  grid-gap: 1rem;
}
