.card {
  position: relative;
  perspective: 10rem;
  -moz-user-select: none;
  user-select: none;

  &.rotated {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(360deg);
    }
  }

  &.matched {
    .front,
    .back {
      box-shadow: none;
      .icon {
        color: #00000050;
      }
    }
  }

  .front,
  .back {
    display: grid;
    place-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 1px 2px 2px black;
    text-align: center;
    .icon,
    .count {
      grid-area: 1/1/-1/-1;
    }
    .count {
      position: absolute;
      height: 100%;
      width: 100%;
      margin-top: -0.25rem;
      color: white;
      text-shadow: 0 0 15px black, 2px 2px 0px silver;
      font-weight: bolder;
    }
  }
  .front {
    content: '';
  }
  .back {
    font-size: 3.5rem;
    transform: rotateY(180deg);
    background-color: hsl(var(--hue), 100%, 75%);
  }
}
